html{
    background-color: rgb(247, 222, 189);
}
p{
    color: rgb(10, 177, 24);
}

.examp{
    color: yellowgreen;
}

.who{
    color: teal;
}

.one{
color: maroon;
}

#apple{
    color: black;
}

div{
    color: ghostwhite;
}
span{
    color: purple;
}

div span{
    color: red;
}