$black: rgb(1, 36, 56);

body{
    background-color: white;
    transition: background-color 500ms;
}

body.colorize{
    background-image: url("../img/universe.jpg");
    background-size: cover;
    // background-color: red;
}
button{
    border: 1px solid darken($black,10);
    padding: 10px;
    border-radius: 4px;
    font-size: inherit;

    &:hover{
        background-color: lighten($black,65);
        // cursor: url("../img/tank.png");
    }
}


nav{
    padding: 10px;
    background-color:$black;
    display: flex;
    justify-content: flex-end;
}
nav.newcolor{
    color: teal;
}