body{
    margin: 0;
}



header{
    background-color: #aeaeae;
    padding: 10px;
    input{
        border: 1px soild #9f9f9f;
        border-radius: 4px;
        padding:5px;
        font-style: inherit;
        font-weight: inherit;
        font-size: inherit;
    }
}
