


html{
    font-family: 'Roboto', sans-serif;

}
body{
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

header{
    background-image: url("../img/Portfolio.png");
margin-top: 40px;
    padding-bottom:118px;
    text-align: center;
    color: white;
}
button{ 
    text-transform: uppercase;
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
}
button:hover{
    background-color: yellow;
}
.signup{
    text-transform: uppercase;
    color: white;
    background-color: hsl(208, 55%, 60%);
    border-radius: 4px;
}
a{
color: inherit;
text-decoration: none;
}

nav{
    background-color: #a8a8a8;
    margin-bottom: 100px;
    color: black;
    padding: 10px;
    ul{
        display: flex;
    }
    li:first-child{
        margin-right:auto;
        text-transform: uppercase;
    }
    a{
        padding: 5px 15px;
        
        
    }
    a:hover {
        background-color: rgb(177, 176, 176);
        color: black;
    }
}
main{
    text-align: center;
    margin: 10px;
    padding: 15px;
    h2{
        font-size: 40px;
    }
}
main ul{
    display: flex;
    justify-content: space-around;
   
}

main ul li{
    padding: 40px;
    margin: 20px;
    border: 3px solid #2b2929;
   
    text-align: center;
    border-radius: 9px;
}

div.contact{
    background-color: yellow;
    margin: 15px;
    padding: 15px;
}